@font-face{ 
	font-family: 'TitleFont';
	src: url('constantine.eot');
	src: url('constantine.eot?#iefix') format('embedded-opentype'),
	     url('constantine.woff') format('woff'),
	     url('constantine.ttf') format('truetype'),
	     url('constantine.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'SmallFont';
	src: url('universcondc.eot');
	src: url('universcondc.eot?#iefix') format('embedded-opentype'),
	     url('universcondc.woff') format('woff'),
	     url('universcondc.ttf') format('truetype'),
	     url('universcondc.svg#webfont') format('svg');
}



/*
 * Style tweaks
 * ----------- * --------------------------------------------------
---------------------------------------
---------------------------------------
 */


.blueItem{
background-color: #2884C7; 
}

.lightBlueItem{
background-color: #349AED; 
}



.redItem{
background-color: #FF4B35; 
}

.greenItem{
background-color: #54B923; 
}

.yellowItem{
background-color: #F8D938; 
}





html,

 

body {
 font-family: 'SmallFont', Verdana, sans-serif;
 font-size: small;    
    
 overflow-x: hidden; 
    /* Prevent scroll on narrow devices */
 padding-top: 0px;
}

#page
{
    
    padding-top: 60px;
    margin-left: 5%;
/*    margin-right: 30px;*/
    
    width: 90%;
}


#social{
    float: right;
    margin-right: 0px;
    margin-top: -30px;

}



#head-container {
    
    height: 120px;
}

#logo{
    float: left;
    margin-left: 50px;
    margin-top: -30px;
}



#head-line{
height: 80px;
background-color: #F8D938;
}


#head-container p{
    font-size: 100%;
    margin-top: -1em;
}

/*Navigation*/

.nav{
margin-top: -80px;
    font-family: 'SmallFont', Verdana, sans-serif;
    font-size: 150%;
}

.nav ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.nav li {
    float: left;
    
}

.nav a:link, a:visited {
    
    
    display: inline-block;
    vertical-align: middle;
     width: 100px;
     height: 100px;
    line-height: 100px;
    font-weight: bold;
    color: #000000;
    background-color: #98bf21;
    text-align: center;
    text-decoration: none;
}

.nav a:hover, a:active {
/*    font-family: 'NormalFont', Verdana, sans-serif;*/
    background-color: #CCCCCC;
}

.nav .delivery a{
    background-color: #54B923; 
}
.nav .delivery a:hover, a:active {
    background-color: #57E046;
}


.nav .catalogue a{
      background-color: #2884C7; 
}
.nav .catalogue a:hover, a:active {
    background-color: #349AED;
}

.nav .concept a{
      background-color: #FF4B35; 
}
.nav .concept a:hover, a:active {
    background-color: #FF6334;
}


/*adds content*/


#adds-container{
/*    float: left;*/
   width: 100%;
    margin-bottom: 30px;
   
}

#all-container{
    font-family: 'TitleFont', Times New Roman, sans-serif;
  
    
    
    min-width: 400px;
    
/*    display: inline-block;*/
    
/*
    float: left;
    width: 476px;
*/

        

    
    height: 318px;
    background-color: #F8D938;
    text-align: center;
}

#all-container h1{
    
    padding-top: 1em;
    font-size: 350%;

}
#all-container p{
    font-size: 200%;

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
float: left;    

  height: 318x;
  width: 434px;
/*  width: 100%;*/
    
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 318px;
  background-color: #F7F341;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 318px;
}


/*
#myCarousel{
    width: 435px;
    height: 318px;

}
*/

.contentBlock{
    margin-top:0;
/*    float: left;*/
    width: 100%;
}


.title{
    font-family: 'TitleFont', Arial, sans-serif;    
    height: 3em;
    text-align: center;
    font-size: 220%;
    line-height: 3em;
}

.content{
    padding-left: 2em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 160%;
    background-color: #EEEEEE;  
}


.content strong{
    font-size: 120%;

}



a.blue:hover, a.blue:active{
    color: #2884C7;
    
/*    text-decoration: none;*/
}

a.blue:link, a.blue:visited 
{
    color: #349AED;
}

#map{
padding-bottom: 1em;

}




#footer {
 bottom: 0;
 height: 3em; 
 font-size:120%;
 background-color: #F8D938;

}

#footer-content{
    padding-top: 1em;
    
}


#footer-copyright
{
        float: left;
    padding-left: 60px;
}

#footer-mail
{
            float: right;
    padding-right: 60px
       
}













